doctrine:
    dbal:
        driver: 'pdo_pgsql'
        host: '%env(resolve:DB_HOST)%'
        port: '%env(resolve:DB_PORT)%'
        dbname: '%env(resolve:DB_NAME)%'
        user: '%env(resolve:DB_USER)%'
        password: '%env(resolve:DB_PASSWORD)%'
        charset: 'utf8'
        server_version: '17'

        profiling_collect_backtrace: '%kernel.debug%'
        use_savepoints: true
        types:
            uuid: Symfony\Bridge\Doctrine\Types\UuidType
    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        auto_mapping: true
        mappings:
            NotificationEntity:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/Notification/Domain/Entity'
                prefix: 'App\Notification\Domain\Entity'
                alias: Notification

            NotificationValueObject:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/Notification/Domain/ValueObject'
                prefix: 'App\Notification\Domain\ValueObject'
                alias: NotificationVO
        controller_resolver:
            auto_mapping: false
